@using SGP.Model.Entity
@model SGP.Model.Entity.ViewModels.EquipamentoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="mt-4">Equipamentos</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="Index">Voltar</a></li>
    <li class="breadcrumb-item active">Adicionar novo Equipamento</li>
</ol>
<div class="card mb-4">
    <div class="card-body">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Patromonio</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="NumeroDePatrimonio" class="control-label"></label>
                                <input asp-for="NumeroDePatrimonio" class="form-control" />
                                <span asp-validation-for="NumeroDePatrimonio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ModeloDeEquipamentoId" class="control-label"></label>
                                <select asp-for="ModeloDeEquipamentoId" class="form-control" asp-items="ViewBag.ModeloDeEquipamentoId">
                                    <option value="">-- Selecione o Modelo --</option>
                                </select>
                                <span asp-validation-for="ModeloDeEquipamentoId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SetorId" class="control-label"></label>
                                <select asp-for="SetorId" class="form-control" asp-items="ViewBag.SetorId">
                                    <option value="">-- Selecione o Setor --</option>
                                </select>
                                <span asp-validation-for="SetorId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CategoriaDoItemId" class="control-label"></label>
                                <select asp-for="CategoriaDoItemId" class="form-control" asp-items="ViewBag.CategoriaDoItemId">
                                    <option value="">-- Selecione o Categoria --</option>
                                </select>
                                <span asp-validation-for="CategoriaDoItemId" class="text-danger" />
                            </div>
                            <div class="form-group">
                                <label asp-for="NumeroDeSerie" class="control-label"></label>
                                <input asp-for="NumeroDeSerie" class="form-control" />
                                <span asp-validation-for="NumeroDeSerie" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Status" class="control-label"></label>
                                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<EquipamentoStatus>()">
                                    <option value="">-- Selecione o Status --</option>
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ClassificacaoDeAtivosId" class="control-label"></label>
                                <select asp-for="ClassificacaoDeAtivosId" class="form-control" asp-items="ViewBag.ClassificacaoDeAtivosId">
                                    <option value="">-- Selecione a Classificacao --</option>
                                </select>
                                <span asp-validation-for="ClassificacaoDeAtivosId" class="text-danger"></span>
                            </div>

                            @*<div class="form-group">
                                <label asp-for="FabricanteId" class="control-label"></label>
                                <select asp-for="FabricanteId" class="form-control" asp-items="ViewBag.FabricanteId">
                                    <option value="">-- Selecione o Marca --</option>
                                </select>
                                <span asp-validation-for="Fabricante
                                
                                " class="text-danger"></span>
                            </div>*@

                            <div class="form-group">
                                <label asp-for="ResponsavelDoEquipamentoId" class="control-label"></label>
                                <select asp-for="ResponsavelDoEquipamentoId" class="form-control" asp-items="ViewBag.ResponsavelDoEquipamentoId">
                                    <option value="">-- Selecione o Responsavel --</option>
                                </select>
                                <span asp-validation-for="ResponsavelDoEquipamentoId" class="text-danger"></span>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    Info
                </div>
            </div>
            <hr />
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Contábil</h3>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DataDeCompra" class="control-label"></label>
                                <input asp-for="DataDeCompra" class="form-control" />
                                <span asp-validation-for="DataDeCompra" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ValorDeCompra" class="control-label"></label>

                                <input asp-for="ValorDeCompra" class="form-control" />
                                <span asp-validation-for="ValorDeCompra" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="NotaFiscal" class="control-label"></label>
                                <input src="@Model.NotaFiscalUrl" asp-for="NotaFiscal" class="form-control" />
                                <span asp-validation-for="NotaFiscal" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Conservacao" class="control-label"></label>
                                <input asp-for="Conservacao" class="form-control" />
                                <span asp-validation-for="Conservacao" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="col-md-12 ">
                            <div class="mb-3">
                                <label asp-for="Observacao" class="control-label"></label>
                                <textarea asp-for="Observacao" class="form-control"></textarea>
                                <span asp-validation-for="Observacao" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    Info
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
