@model SGP.Models.Equipamentos.Equipamento

@{
    Layout = "_LayoutPrincipal";
    ViewData["Title"] = "Create";
}

<h1 class="mt-4">Equipamentos</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="Index">Voltar</a></li>
    <li class="breadcrumb-item active">Adicionar novo Equipamento</li>
</ol>
<div class="card mb-4">
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Patromonio</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="EquipamentoID" class="control-label"></label>
                                <input asp-for="EquipamentoID" class="form-control" />
                                <span asp-validation-for="EquipamentoID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ModeloID" class="control-label"></label>
                                <select asp-for="ModeloID" class="form-control" asp-items="ViewBag.ModeloID">
                                    <option value="">-- Selecione o Modelo --</option>
                                </select>
                                <span asp-validation-for="ModeloID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SetorID" class="control-label"></label>
                                <select asp-for="SetorID" class="form-control" asp-items="ViewBag.SetorID">
                                    <option value="">-- Selecione o Setor --</option>
                                </select>
                                <span asp-validation-for="SetorID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Categoria" class="control-label"></label>
                                <select asp-for="CategoriaID" class="form-control" asp-items="ViewBag.CategoriaID">
                                    <option value="">-- Select Category --</option>
                                </select>
                                <span asp-validation-for="CategoriaID" class="text-danger" />

                            </div>
                            <div class="form-group">
                                <label asp-for="Serie" class="control-label"></label>
                                <input asp-for="Serie" class="form-control" />
                                <span asp-validation-for="Serie" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Status" class="control-label"></label>
                                <input asp-for="Status" class="form-control" />
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                            
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ClassificacaoID" class="control-label"></label>
                                <select asp-for="ClassificacaoID" class="form-control" asp-items="ViewBag.ClassificacaoID">
                                <option value="">-- Selecione a Classificacao --</option>
                                </select>
                                <span asp-validation-for="ClassificacaoID" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="MarcaID" class="control-label"></label>
                                <select asp-for="MarcaID" class="form-control" asp-items="ViewBag.MarcaID">
                                    <option value="">-- Selecione o Marca --</option>
                                </select>
                                <span asp-validation-for="MarcaID" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="ResponsavelID" class="control-label"></label>
                                <select asp-for="ResponsavelID" class="form-control" asp-items="ViewBag.ResponsavelID">
                                    <option value="">-- Selecione o Responsavel --</option>
                                </select>
                                <span asp-validation-for="ResponsavelID" class="text-danger"></span>
                            </div>
                            
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    Info
                </div>
            </div>
            <hr />
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Contábil</h3>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DataDeCompra" class="control-label"></label>
                                <input asp-for="DataDeCompra" class="form-control" />
                                <span asp-validation-for="DataDeCompra" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ValorDeCompra" class="control-label"></label>
                                <input asp-for="ValorDeCompra" class="form-control" />
                                <span asp-validation-for="ValorDeCompra" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="NotaFiscal" class="control-label"></label>
                                <div class="custom-file">
                                  <input type="file" asp-for="NotaFiscal" class="custom-file-input" id="NotaFiscal" accept=".pdf" />
                                  <label class="custom-file-label" for="customFileLang">Selecione um arquivo pdf</label>
                                   <span asp-validation-for="NotaFiscal" class="text-danger"></span>
                                </div>
 
                            </div>
                            
                            <div class="form-group">
                                @{


                                }
                                <label asp-for="EstadoDeConservacao" class="control-label"></label>
                                <select asp-for="EstadoDeConservacao" class="form-control" asp-items="Html.GetEnumSelectList<>">
                                    <option value="">-- Selecione o Responsavel --</option>
                                </select>
                                <span asp-validation-for="EstadoDeConservacao" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label asp-for="Observacao" class="control-label"></label>
                                <textarea asp-for ="Observacao" class="form-control">   </textarea>
                                <span asp-validation-for="Observacao" class="text-danger"></span>
                            </div>
                        </div>
       
                    </div>
                </div>
                <div class="card-footer">
                    Info
                </div>
            </div>
            <hr /> 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
        $('.custom-file-input').on('change', function () {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });</script>